<%= form_for(@instance, :remote => true) do |f| %>
  <div class="widget">
    <div class="whead">
      <h6><%= f.label :instance_spec_id, "Spec" %></h6>
    </div>
    <table style="width: 100%" class="tDefault checkAll tMedia">
      <thead>
        <tr>
          <td style="width: 130px">Name</td>
          <td>Description</td>
          <td style="width: 50px">Ram</td>
          <td style="width: 70px">CPU</td>
          <td style="width: 50px">Select</td>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody>
        <% @instance_specs.each do |spec| %>
          <tr>
            <td><%= spec.name %></td>
            <td><%= spec.description %></td>
            <td><%= spec.ram %>MB</td>
            <td><%= spec.core %>Core</td>
            <td><%= f.radio_button :instance_spec_id, spec._id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="divider"><span></span></div>
  <%= f.label :name %>
  <%= f.text_field :name, :class => "clear", :placeholder => "Tom's Instance" %>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 8, :cols => "", :class => "auto" %>
  <div>
    <span class="floatR">
      <%= f.check_box :protected, :class => "check" %>
      <%= f.label :protected, :style => "float: none;" %>
    </span>
  </div>
<% end %>
