<div class="widget">
  <div class="whead">
    <h6><%= label_tag "Template" %></h6>
  </div>
  <table style="width: 100%" class="tDefault checkAll tMedia">
    <thead>
      <tr>
        <td style="width: 50px">Logo</td>
        <td style="width: 130px">Name</td>
        <td>Description</td>
        <td style="width: 50px">Arch</td>
        <td style="width: 70px">Type</td>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr>
        <td>
          <a href="<%= template_path(@instance.template) %>" title="<%= @instance.template.description %>">
            <%= image_tag @instance.template.logo.url(:thumb), :style => "margin-top: 7px;" %>
          </a>
        </td>
        <td><%= @instance.template.name %></td>
        <td><%= @instance.template.description %></td>
        <td><%= @instance.template.arch %>bit</td>
        <td><%= @instance.template.user.nil? ? "Base" : "Custom" %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="divider"><span></span></div>
<div class="widget">
  <div class="whead">
    <h6><%= label_tag "Spec" %></h6>
  </div>
  <table style="width: 100%" class="tDefault checkAll tMedia">
    <thead>
      <tr>
        <td style="width: 130px">Name</td>
        <td>Description</td>
        <td style="width: 50px">Ram</td>
        <td style="width: 70px">CPU</td>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr>
        <td><%= @instance.instance_spec.name %></td>
        <td><%= @instance.instance_spec.description %></td>
        <td><%= @instance.instance_spec.ram %>MB</td>
        <td><%= @instance.instance_spec.core %>Core</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="divider"><span></span></div>
<div class="widget">
  <div class="whead">
    <h6><label>Disk</label></h6>
  </div>
  <table style="width: 100%" class="tDefault checkAll tMedia">
    <thead>
      <tr>
        <td style="width: 130px">Name</td>
        <td>Description</td>
        <td style="width: 50px">Mode</td>
        <td style="width: 70px">Size</td>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <% @instance.disks.each do |disk| %>
        <tr>
          <td><%= disk.name %></td>
          <td><%= disk.description %></td>
          <td><%= disk.mode_to_string %></td>
          <td><%= disk.size / 1024 %>GB</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="divider"><span></span></div>
<div class="widget">
  <div class="whead">
    <h6><label>Network</label></h6>
  </div>
  <table style="width: 100%" class="tDefault checkAll tMedia">
    <thead>
      <tr>
        <td style="width: 130px">Name</td>
        <td>Description</td>
        <td style="width: 70px">IP</td>
        <td style="width: 70px">MAC</td>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <% @instance.networks.each do |network| %>
        <tr>
          <td><%= network.name %></td>
          <td><%= network.description %></td>
          <td><%= network.ip %></td>
          <td><%= network.mac %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="divider"><span></span></div>
<%= label_tag :name %>
<%= text_field_tag :name, @instance.name, {:class => "clear"} %>
<%= label_tag :description %>
<%= text_area_tag :description, @instance.description, {:rows => 8, :cols => "", :class => "auto"} %>
<div>
  <span class="floatR">
    <%= check_box_tag :protected, "", {:class => "check", :selected => @instance.protected} %>
    <%= label_tag :protected, "Protected", {:style => "float: none;"} %>
  </span>
</div>
