<% render "default" %>

<% unless @network.instance.nil? %>
<script type="text/javascript">
  var chartType = 0; // 0: network IO, 1: CPU, RAM, 2: DISK IO
  var inputdata = [[], []]; 
  var result = [0, 0];
  var before = [0, 0];
  var label = [["Network Input", "Network Output"], ["CPU", "RAM"], ["Disk Read", "Disk Write"]];
  var options = {
    xaxes: [{}], 
    yaxes: [{}, {
      show: 
      true, position: "right"
    }] 
  }
  $(document).ready(function() {
    var plot = $.plot($(".chart"), [{data: inputdata[0], label: label[chartType][0]}, {data: inputdata[1], label: label[chartType][1], yaxis: 2}], options); 

    function getData(type) { 
      chartType = type;
      // This could be an ajax call back. 
      $.post('/instances/<%= @network.instance._id %>/performance', function(json) {
        inputdata = [[], []];
        for(i = 0; i < json.length; i++) {
        if(chartType == 0) {
          result[0] = (json[i].input - before[0]) / 10
          result[1] = (json[i].output - before[1]) / 10
          before[0] = json[i].input;
          before[1] = json[i].output;
        } else if(chartType == 1) {
          result[0] = json[i].cpu;
          result[1] = 0;
        } else { // else if(chartType == 2) {
          result[0] = (json[i].read - before[0]) / 2048
          result[1] = (json[i].write - before[1]) / 2048
          before[0] = json[i].read;
          before[1] = json[i].write;
        }

        inputdata[0].push([i, result[0]])
        inputdata[1].push([i, result[1]])
        }
        inputdata[0] = inputdata[0].slice(1);
        inputdata[1] = inputdata[1].slice(1);
        plot.setData([{ data: inputdata[0], label: label[chartType][0] }, 
            { data: inputdata[1], label: label[chartType][1], yaxis: 2}
            ] 
        );
        plot.setupGrid();
        plot.draw();
      });
    }

    getData(chartType);
    setInterval(getData(chartType), 10000);
  });
</script>

<!-- Chart -->
<div class="widget chartWrapper">
  <div class="whead"><h6>Statistics[ <%= @network.name %> ]</h6>
  </div>
  <div class="body">
    <div class="chart">
    </div>
  </div>
</div>
<% end %>

<div class="fluid">
  <!-- Media table -->
  <div class="widget check grid12">
    <div class="whead">
      <h6>Instances</h6>
    </div>
    <table style="width: 100%" class="tDefault checkAll tMedia">
      <thead>
        <tr>
          <td><img src="/assets/Aquincum/elements/other/tableArrows.png" alt="" /></td>
          <td style="width: 180px">OS</td>
          <td>Name</td>
          <td style="width: 100px">State</td>
          <td style="width: 150px">IP</td>
          <td style="width: 150px" class="sortCol"><div>Created At<span></span></div></td>
          <td style="width: 100px">Actions</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="itemActions">
              <label>Action:</label>
              <select id="instance-action" class="styled">
                <option value="unknown">Select Action</option>
                <option value="stop">Stop</option>
                <option value="start">Start</option>
                <option value="reboot">Reboot</option>
                <option value="forcestop">Force Stop</option>
                <option value="forcereboot">Force Reboot</option>
                <option value="restore">Restore</option>
                <option value="duplicate">Duplicate</option>
                <option value="snapshot">Snapshot</option>
              </select>
              <script type="text/javascript">
                $(document).ready(function() {
                    $('#instance-action').change(function() {
                        var action = $(this).selected().val();
                        var id = $('.instance-radio-btn:checked').val()
                        if(id == null || id == undefined) {
                          alert('Select instance');
                        } else {
                          $('#ajax-loading').show();
                          $.post('/instances/'+id+'/'+action, function(json) {
                            alert(json.action + ":" + json.msg);
                          })
                          $('#ajax-loading').hide();
                        }
                    })
                });
              </script>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% [@network.instance].each do |instance| %>
          <tr>
            <td><input type="radio" name="checkRow" id="instance-<%= instance._id %>" class="instance-radio-btn" value="<%= instance._id %>" /></td>
            <td>
              <a href="<%= template_path(instance.template) %>" title="<%= instance.template.description %>">
                <%= image_tag instance.template.logo.url(:thumb), :style => "vertical-align: middle;" %>
                <%= "#{instance.template.name}(#{instance.template.arch}bit)" %>
              </a>
            </td>
            <td><%= link_to instance.name, instance_path(instance), :title => instance.description %></td>
            <td><%= instance.state_to_string %></td>
            <td><%= instance.networks.empty? ? "NULL" : instance.networks.first.ip %></td>
            <td><%= instance.created_at %></td>
            <td class="tableActs">
              <%= link_to '<span class="iconb" data-icon="&#xe271;"></span>'.html_safe, summary_instance_path(instance), :class => "tablectrl_small bDefault tipS info-dialog", :title => "Summary" %>
              <%= link_to '<span class="iconb" data-icon="&#xe1f7;"></span>'.html_safe, edit_instance_path(instance), :class => "tablectrl_small bDefault tipS form-dialog", :title => "Settings" %>
              <%= link_to '<span class="iconb" data-icon="&#xe136;"></span>'.html_safe, instance_path(instance), :method => "delete",  :class => "tablectrl_small bDefault tipS", :title => "Destroy", :confirm => "Are you sure?" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
