<div class="widget">
  <div class="whead">
    <h6><%= label_tag "Spec" %></h6>
  </div>
  <table style="width: 100%" class="tDefault checkAll tMedia">
    <thead>
      <tr>
        <td style="width: 140px">Name</td>
        <td>Description</td>
        <td style="width: 70px">Type</td>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr>
        <td><%= @network.network_spec.name %></td>
        <td><%= @network.network_spec.description %></td>
        <td><%= @network.network_spec.type_to_string %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="divider"><span></span></div>
<% if @network.instance? %>
  <div class="widget">
    <div class="whead">
      <h6><%= label_tag "Instance" %></h6>
    </div>
    <table style="width: 100%" class="tDefault checkAll tMedia">
      <thead>
        <tr>
          <td style="width: 140px">Name</td>
          <td>Description</td>
          <td style="width: 70px">State</td>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody>
        <tr>
          <td>
            <a href="<%= instance_path(@network.instance) %>" title="<%= @network.instance.description %>" class="lightbox">
              <%= image_tag @network.instance.template.logo.url(:thumb), :style => "vertical-align: middle;" %>
              <%= @network.instance.name %>
            </a>
          </td>
          <td><%= @network.description %></td>
          <td><%= @network.instance.state_to_string %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="divider"><span></span></div>
<% end %>
<%= label_tag :name %>
<%= text_field_tag :name, @network.name, {:class => "clear"} %>
<%= label_tag :description %>
<%= text_area_tag :description, @network.description, {:rows => 8, :cols => "", :class => "auto"} %>
<div>
  <span class="floatR">
    <%= check_box_tag :protected, "", {:class => "check", :checked => @network.protected} %>
    <%= label_tag :protected, "Protected", {:style => "float: none;"} %>
  </span>
</div>
