<% render "default" %>

<div class="fluid">
  <!-- Media table -->
  <div class="widget check grid12">
    <div class="whead">
      <h6>Disks</h6>
      <div class="titleOpt">
        <a href="<%= disks_path %>"><span class="icos-refresh2"></span></a>
      </div>
    </div>
    <table style="width: 100%" class="tDefault checkAll tMedia">
      <thead>
        <tr>
          <td><img src="/assets/Aquincum/elements/other/tableArrows.png" alt="" /></td>
          <td style="width: 180px">Instance</td>
          <td>Name</td>
          <td style="width: 100px">Mode</td>
          <td style="width: 150px">Info</td>
          <td style="width: 150px" class="sortCol"><div>Created At<span></span></div></td>
          <td style="width: 100px">Actions</td>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="7">
            <div class="itemActions">
              <label>Action:</label>
              <select id="disk-action" class="styled">
                <option value="unknown">Select Action</option>
                <option value="attach">Attach</option>
                <option value="detach">Detach</option>
                <option value="resize">Resize</option>
              </select>
              <script type="text/javascript">
                $(document).ready(function() {
                    $('#disk-action').change(function() {
                      var action = $(this).selected().val();
                      var id = $('.disk-radio-btn:checked').val()
                      if(id == null || id == undefined) {
                      alert('Select disk');
                      } else {
                      $('#ajax-loading').show();
                      $.post('/disks/'+id+'/'+action, function(json) {
                        $('#ajax-loading').hide();
                        alert(json.action + ":" + json.msg);
                        })
                      }
                      })
                    });
            </script>
            </div>
            <div class="tPages">
              <%= paginate @disks %>
            </div>
          </td>
        </tr>
      </tfoot>
      <tbody>
        <% @disks.each do |disk| %>
          <tr>
            <td><input type="radio" name="checkRow" id="disk-<%= disk._id %>" class="disk-radio-btn" value="<%= disk._id %>" /></td>
            <td>
              <% unless disk.instance.nil? %>
                <a href="<%= instance_path(disk.instance) %>" title="<%= disk.instance.description %>">
                  <%= image_tag disk.instance.template.logo.url(:thumb), :style => "vertical-align: middle;" %>
                  <%= "#{disk.instance.name}" %>
                </a>
              <% end %>
            </td>
            <td><%= link_to disk.name, disk_path(disk), :title => disk.description %></td>
            <td><%= disk.mode_to_string %></td>
            <td class="fileInfo"><span><strong>Spec:</strong> <%= disk.disk_spec.name %></span><span><strong>Size:</strong> <%= disk.size / 1024 %>GB</span></td>
            <td><%= disk.created_at %></td>
            <td class="tableActs">
              <%= link_to '<span class="iconb" data-icon="&#xe271;"></span>'.html_safe, summary_disk_path(disk), :class => "tablectrl_small bDefault tipS info-dialog", :title => "Summary" %>
              <%= link_to '<span class="iconb" data-icon="&#xe1f7;"></span>'.html_safe, edit_disk_path(disk), :class => "tablectrl_small bDefault tipS form-dialog", :title => "Settings" %>
              <%= link_to '<span class="iconb" data-icon="&#xe136;"></span>'.html_safe, disk_path(disk), :method => "delete",  :class => "tablectrl_small bDefault tipS", :title => "Destroy", :confirm => "Are you sure?" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
