<div class="widget">
  <div class="whead">
    <h6><%= label_tag "Spec" %></h6>
  </div>
  <table style="width: 100%" class="tDefault checkAll tMedia">
    <thead>
      <tr>
        <td style="width: 140px">Name</td>
        <td>Description</td>
        <td style="width: 70px">Size</td>
        <td style="width: 70px">Type</td>
      </tr>
    </thead>
    <tfoot></tfoot>
    <tbody>
      <tr>
        <td><%= @disk.disk_spec.name %></td>
        <td><%= @disk.disk_spec.description %></td>
        <td><%= @disk.disk_spec.size / 1024 %>GB</td>
        <td><%= @disk.disk_spec.type_to_string %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="divider"><span></span></div>
<% if @disk.instance? %>
  <div class="widget">
    <div class="whead">
      <h6><%= label_tag "Instance" %></h6>
    </div>
    <table style="width: 100%" class="tDefault checkAll tMedia">
      <thead>
        <tr>
          <td style="width: 140px">Name</td>
          <td>Description</td>
          <td style="width: 70px">Mode</td>
          <td style="width: 70px">State</td>
        </tr>
      </thead>
      <tfoot></tfoot>
      <tbody>
        <tr>
          <td>
            <a href="<%= instance_path(@disk.instance) %>" title="<%= @disk.instance.description %>" class="lightbox">
              <%= image_tag @disk.instance.template.logo.url(:thumb), :style => "vertical-align: middle;" %>
              <%= "#{@disk.instance.name}:/dev/#{@disk.vdev}" %>
            </a>
          </td>
          <td><%= @disk.description %></td>
          <td><%= @disk.mode_to_string %></td>
          <td><%= @disk.instance.state_to_string %></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="divider"><span></span></div>
<% end %>
<%= label_tag :name %>
<%= text_field_tag :name, @disk.name, {:class => "clear"} %>
<%= label_tag :description %>
<%= text_area_tag :description, @disk.description, {:rows => 8, :cols => "", :class => "auto"} %>
<div>
  <span class="floatR">
    <%= check_box_tag :protected, "", {:class => "check", :checked => @disk.protected} %>
    <%= label_tag :protected, "Protected", {:style => "float: none;"} %>
  </span>
</div>
