<% render "default" %>

<div class="fluid">
  <!-- Media table -->
  <div class="widget check grid12">
    <div class="whead">
      <h6>Templates</h6>
      <div class="titleOpt">
        <a href="<%= templates_path %>"><span class="icos-refresh2"></span></a>
      </div>
    </div>
    <table width="100%" class="tDefault checkAll tMedia">
      <thead>
        <tr>
          <td><img src="/assets/Aquincum/elements/other/tableArrows.png" alt="" /></td>
          <td width="50px">Logo</td>
          <td width="180px">Name</td>
          <td>Description</td>
          <td width="150px">Arch</td>
          <td width="150px" class="sortCol"><div>Created At<span></span></div></td>
          <td width="100px">Actions</td>
        </tr>
      </thead>
      <tbody>
        <% @templates.each do |template| %>
          <tr>
            <td><input type="radio" name="checkRow" id="template-<%= template._id %>" class="template-radio-btn" value="<%= template._id %>" /></td>
            <td>
              <a href="<%= template_path(template) %>" title="<%= template.name %>">
                <%= image_tag template.logo.url(:thumb), :style => "vertical-align: middle;" %>
              </a>
            </td>
            <td><%= link_to template.name, template_path(template), :title => template.description %></td>
            <td><%= template.description %></td>
            <td class="fileInfo"><span><strong>Active:</strong> <%= template.active %></span><span><strong>Arch:</strong> <%= template.arch %>bit</span></td>
            <td><%= template.created_at %></td>
            <td class="tableActs">
              <%= link_to '<span class="iconb" data-icon="&#xe271;"></span>'.html_safe, summary_template_path(template), :class => "tablectrl_small bDefault tipS info-dialog", :title => "Summary" %>
              <%= link_to '<span class="iconb" data-icon="&#xe1f7;"></span>'.html_safe, edit_template_path(template), :class => "tablectrl_small bDefault tipS form-dialog", :title => "Settings" %>
              <%= link_to '<span class="iconb" data-icon="&#xe136;"></span>'.html_safe, template_path(template), :method => "delete",  :class => "tablectrl_small bDefault tipS", :title => "Destroy", :confirm => "Are you sure?" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
