<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="keywords" content="WaffleStudio, 와플스튜디오, 웹개발, Web Development, snuev, 서울대학교" />
    <meta name="description" content="맛있는 웹을 만드는 동아리, 와플스튜디오입니다." />
    <meta name="author" content="Wafflestudio" />
    <meta name="publisher" content="Taekmin Kim" />
    <meta property="og:title" content="wCloud"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />
    <meta property="og:description" content="와플스튜디오 클라우드 시스템 wCloud입니다." />
    <meta property="fb:app_id" content=""/>
    <%= csrf_meta_tags %>

    <title><%= content_for?(:title) ? content_for(:title) : "wCloud" %></title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" type="text/css"> <![endif]-->

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      $(document).pjax('a', '#pjax-container')
    </script>
  </head>
  <body>
    <!-- Top line begins -->
    <div id="top">
      <div class="wrapper">
        <%= link_to (image_tag "/assets/Aquincum/logo.png", :alt => "wCloud"), root_path, :title => "wCloud", :class => "logo" %>

        <!-- Right top nav -->
        <div class="topNav">
          <ul class="userNav">
            <li><%= link_to "", about_path, :class => "search", :title => "About" %></li>
            <% if user_signed_in? %>
              <li><a href="#" title="Settings" class="settings"></a></li>
              <li><%= link_to "", destroy_user_session_path, :method => :delete, :class => "logout", :title => "Signout" %></li>
            <% end %>
          </ul>
          <a title="" class="iButton"></a>
        </div>
      </div>

      <% if user_signed_in? %>
        <!-- Responsive nav -->
        <ul class="altMenu">
          <li><%= link_to "Dashboard", root_path, :title => "Dashboard" %></li>
          <li><%= link_to "Instance", instances_path, :title => "Instance" %></li>
          <li><%= link_to "Template", templates_path, :title => "Template" %></li>
          <li><%= link_to "Disk", disks_path, :title => "Disk" %></li>
          <li><%= link_to "Network", networks_path, :title => "Network" %></li>
          <li><%= link_to "Message", logs_path, :title => "Message" %></li>
          <li><%= link_to "Statistic", "#", :title => "Statistic" %></li>
        </ul>
      <% end %>
    </div>
    <!-- Top line ends -->

    <% if user_signed_in? %>
      <% render "layouts/sidebar" %>
      <% render "layouts/contentTop" %>
      <% render "layouts/breadLine" %>

      <!-- Sidebar begins -->
      <div id="sidebar" class="with">
        <%= yield :sidebar %>
      </div>
      <!-- Sidebar ends -->
      <!-- Content begins -->
      <div id="content">
        <div id="pjax-container">
          <!-- Content Top -->
          <%= yield :contentTop %>
          <!-- Breadcrumbs line -->
          <%= yield :breadLine %>

          <!-- Main content -->
          <div class="wrapper">
            <ul class="middleNavR">
              <li><%= link_to (image_tag("/assets/Aquincum/icons/middlenav/add.png")), new_instance_path, :class => "tipN form-dialog", :title => "Create Intance" %></li>
              <li><%= link_to (image_tag("/assets/Aquincum/icons/middlenav/add.png")), new_disk_path, :class => "tipN form-dialog", :title => "Create Disk" %></li>
              <li><%= link_to_function (image_tag("/assets/Aquincum/icons/middlenav/upload.png")), "alert('not yet')", :class => "tipN", :title => "Upload Files" %></li>
              <li><%= link_to_function (image_tag("/assets/Aquincum/icons/middlenav/dialogs.png")), "alert('not yet')", :class => "tipN", :title => "Messages" %><strong><%= current_user.unread_logs.count %></strong></li>
              <li><%= link_to (image_tag("/assets/Aquincum/icons/middlenav/stats.png")), instances_path, :class => "tipN", :title => "Check Statistic" %></li>
            </ul>
            <%= yield %>
          </div>
          <script type="text/javascript">
            $(document).ready(function() {
              // jquery.uniform
              $(".styled, input:radio, input:checkbox, .dataTables_length select").uniform();
              $('.tipS').tipsy({gravity: 's',fade: true, html:true});
              // jquery-ui dialog
              $('.form-dialog').click(function(e) {
                var title = $(this).attr("original-title");
                console.log(title);
                $('#ajax-loading').show();
                $.post($(this).attr("href"), function(html) {
                  $('#form-dialog').html(html);
                  $('#form-dialog').dialog("option", "title", title);
                  $('#form-dialog').dialog("open");
                  $('form[data-remote=true]').submit(function() {
                    $('#form-dialog').dialog("close");
                  });
                });
                $('#ajax-loading').hide();
                return false;
              });
              $('.info-dialog').click(function(e) {
                var title = $(this).attr("original-title");
                console.log(title);
                $('#ajax-loading').show();
                $.post($(this).attr("href"), function(html) {
                  $('#info-dialog').html(html);
                  $('#info-dialog').dialog("option", "title", title);
                  $('#info-dialog').dialog("open");
                });
                $('#ajax-loading').hide();
                return false;
              });
            });
          </script>
          <script type="text/javascript">
            $(document).ready(function() {
                $('#form-dialog').dialog({
                    autoOpen: false,
                    resizable: false,
                    width: 650,
                    buttons: {
                        "Submit": function () {
                            $(this).children('form').submit();
                        },
                        "Cancel": function () {
                            $(this).dialog("close");
                        }
                    },
                    resizable: false
                });
                $('#info-dialog').dialog({
                    autoOpen: false,
                    resizable: false,
                    width: 650,
                    buttons: {
                        "Ok": function () {
                            $(this).dialog("close");
                        }
                    },
                    resizable: false
                });
                $('ul.nav a').click(function() {
                    $('ul.nav a[class=active]').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
          </script>
          <!-- Main content ends -->
        </div>
      </div>
      <!-- Content ends -->
    <% else # signin, signup, reset password %>
      <div id="pjax-container">
        <%= yield %>
      </div>
    <% end %>
    <div id="ajax-loading" style="display: none; position: absolute; top:0; left: 0; width: 100%; height: 100%;">
      <img src="/assets/Aquincum/elements/loaders/4.gif" style="position: relative; top: 50%; left: 50%;" alt="ajax-loading">
    </div>
    <div id="form-dialog" title="Unknown"></div>
    <div id="info-dialog" title="Unknown"></div>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38572474-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
     </script>
  </body>
</html>
