<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <%= csrf_meta_tags %>

    <title><%= content_for?(:title) ? content_for(:title) : "wCloud" %></title>

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <!--[if IE]> <link href="css/ie.css" rel="stylesheet" type="text/css"> <![endif]-->

    <%= javascript_include_tag "application" %>
    <script type="text/javascript">
      $(document).ready(function() {
          //$('a').pjax('[data-pjax-container]');
      });
    </script>
  </head>
  <body>
    <!-- Top line begins -->
    <div id="top">
      <div class="wrapper">
        <%= link_to (image_tag "/assets/Aquincum/logo.png", :alt => "wCloud"), root_path, :title => "wCloud", :class => "logo" %>

        <!-- Right top nav -->
        <div class="topNav">
          <ul class="userNav">
            <li><%= link_to "", about_path, :class => "search", :title => "About" %>
            <% if signed_in? %>
              <li><a href="#" title="Settings" class="settings"></a></li>
              <li><%= link_to "", destroy_user_session_path, :method => :delete, :class => "logout", :title => "Signout" %></li>
            <% end %>
          </ul>
        </div>
      </div>

      <% if signed_in? %>
        <!-- Responsive nav -->
        <ul class="altMenu">
          <li><a href="index.html" title="">Dashboard</a></li>
          <li><a href="ui.html" title="" class="exp" id="current">UI elements</a>
          <ul>
            <li><a href="ui.html">General elements</a></li>
            <li><a href="ui_icons.html">Icons</a></li>
            <li><a href="ui_buttons.html">Button sets</a></li>
            <li><a href="ui_grid.html" class="active">Grid</a></li>
            <li><a href="ui_custom.html">Custom elements</a></li>
          </ul>
          </li>
        </ul>
      <% end %>
    </div>
    <!-- Top line ends -->

    <% if signed_in? %>
      <% render "layouts/sidebar" %>
      <% render "layouts/contentTop" %>
      <% render "layouts/breadLine" %>

      <!-- Sidebar begins -->
      <div id="sidebar" class="with">
        <%= yield :sidebar %>
      </div>
      <!-- Sidebar ends -->
      <!-- Content begins -->
      <div id="content" data-pjax-container>
        <!-- Content Top -->
        <%= yield :contentTop %>
        <!-- Breadcrumbs line -->
        <%= yield :breadLine %>

        <!-- Main content -->
        <%= yield %>
        <!-- Main content ends -->
      </div>
      <!-- Content ends -->
    <% else # signin, signup, reset password %>
      <div data-pjax-container>
        <%= yield %>
      </div>
    <% end %>
  </body>
</html>
